<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <header>
    <div class="main-container">
      <div class="logo-header">
        <a href="/">
          <img src="images/logo-icon.svg" alt="">
          <span>MoneyScale</span>
        </a>
      </div>
    </div>

    <nav class="container-botoes">
      <ul class="navbar">
        <li><a href="/renda-fixa">RENDA FIXA</a></li>
        <li><a href="/taxa-selic">TAXA SELIC</a></li>
        <li><a href="/tesouro-direto">TESOURO DIRETO</a></li>
        <li><a href="/lci-lca">LCI e LCA</a></li>
        <li><a href="/cdi">CDI</a></li>
        <li><a href="/cdb">CDB</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="content-container-nav"></div>

  <footer>
    <img src="images/logo-icon.svg" alt="">
    <span>copyright copy&</span>
  </footer>
</body>

</html>