<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/informacoes-investimento.css">
</head>

<body>
  <header>
    <div class="main-container">
      <div class="logo-header">
        <a href="/">
          <img src="images/logo-icon.svg" alt="">
          <span>MoneyScale</span>
        </a>
      </div>
    </div>


    <nav class="container-botoes">
      <ul class="navbar">
        <li><a href="/renda-fixa">RENDA FIXA</a></li>
        <li><a href="/taxa-selic">TAXA SELIC</a></li>
        <li><a href="/tesouro-direto">TESOURO DIRETO</a></li>
        <li><a href="/lci-lca">LCI e LCA</a></li>
        <li><a href="/cdi">CDI</a></li>
        <li><a href="/cdb">CDB</a></li>
      </ul>
    </nav>
  </header>

  
  <div class="content-container">

    <img class="arrow-1" src="../images/arrow-1.svg" alt="">
    <img class="arrow-2" src="../images/arrow-2.svg" alt="">
    
    <form class="input-sequence" action="">
      <label for="input-sequence">INFORMAÇÕES DO INVESTIMENTO</label>

      <label for="tipo_investimento">Tipo de Investimento Escolhido:</label>
      <input class="input-texto-pag1" name="tipo_investimento" type="text" placeholder="" readonly="readonly">

      <label>Valor total investido:</label>
      <input class="input-texto-pag1" name="aporte_inicial" type="text" placeholder="" readonly="readonly">

      <label>Tempo de investimento: (Meses)</label>
      <input class="input-texto-pag1" name="aporte_mensal" type="text" placeholder="" readonly="readonly">

      <label>Valor do montante com IR:</label>
      <input class="input-texto-pag1" name="taxa_de_juros" type="text" placeholder="" readonly="readonly">

      <label>Valor do montante sem IR:</label>
      <input class="input-texto-pag1" name="" type="text" placeholder="" readonly="readonly">

      <label>Juros total:</label>
      <input class="input-texto-pag1" name="" type="text" placeholder="" readonly="readonly">

      <label>Valor do IR:</label>
      <input class="input-texto-pag1" name="" type="text" placeholder="" readonly="readonly">

      <label>Alíquota do IR:</label>
      <input class="input-texto-pag1" name="" type="text" placeholder="" readonly="readonly">

      <button class="btn-simular" type="submit" style="width: 214px;">SIMULAR NOVAMENTE</button>

      <div class="div-logo"><img src="../images/logo-xp.svg" alt=""></div>
    </form>
  </div>

  <footer>
    <img src="images/logo-icon.svg" alt="">
    <span>copyright copy&</span>
  </footer>

  <script src="../src/js/informacoes-investimento.js"></script>
</body>

</html>