<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/nav-content-style.css">
</head>

<body>
  <header>
    <div class="main-container">
      <div class="logo-header">
        <a href="/">
          <img src="images/logo-icon.svg" alt="">
          <span>MoneyScale</span>
        </a>
      </div>
    </div>

    <nav class="container-botoes">
      <ul class="navbar">
        <li><a href="/renda-fixa">RENDA FIXA</a></li>
        <li><a href="/taxa-selic">TAXA SELIC</a></li>
        <li><a href="/tesouro-direto">TESOURO DIRETO</a></li>
        <li><a href="/lci-lca">LCI e LCA</a></li>
        <li><a href="/cdi">CDI</a></li>
        <li><a href="/cdb">CDB</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="content-container-nav">
    <h4><span>LCI e LCA?</span></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices purus in mauris vulputate, nec varius
      tellus posuere. Sed eget arcu feugiat dui scelerisque congue. Morbi congue, neque sed viverra vestibulum, augue
      nunc porttitor massa, nec pellentesque urna arcu eu elit. Nulla viverra maximus elementum. Donec risus sem,
      pretium et justo ut, efficitur congue turpis. Nulla libero elit, tincidunt non interdum ac, vulputate eget est.
      Integer cursus interdum tellus, vel fringilla velit mattis vehicula. Aliquam eu tortor quis urna ultricies
      pulvinar vitae at mauris. Nam vulputate consectetur condimentum.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices purus in mauris vulputate, nec varius
      tellus posuere. Sed eget arcu feugiat dui scelerisque congue. Morbi congue, neque sed viverra vestibulum, augue
      nunc porttitor massa, nec pellentesque urna arcu eu elit. Nulla viverra maximus elementum. Donec risus sem,
      pretium et justo ut, efficitur congue turpis. Nulla libero elit, tincidunt non interdum ac, vulputate eget est.
      Integer cursus interdum tellus, vel fringilla velit mattis vehicula. Aliquam eu tortor quis urna ultricies
      pulvinar vitae at mauris. Nam vulputate consectetur condimentum.
    </p>
  </div>

  <footer>
    <img src="images/logo-icon.svg" alt="">
    <span>copyright copy&</span>
  </footer>
</body>

</html>