<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/nav-page.css">
</head>

<body>
  <header>
    <div class="main-container">
      <div class="logo-header">
        <a href="/">
          <img src="images/logo-icon.svg" alt="">
          <span>MoneyScale</span>
        </a>
      </div>
    </div>

    <nav class="container-botoes">
      <ul class="navbar">
        <li><a href="/renda-fixa">RENDA FIXA</a></li>
        <li><a href="/taxa-selic">TAXA SELIC</a></li>
        <li><a href="/tesouro-direto">TESOURO DIRETO</a></li>
        <li><a href="/lci-lca">LCI e LCA</a></li>
        <li><a href="/cdi">CDI</a></li>
        <li><a href="/cdb">CDB</a></li>
      </ul>
    </nav>
  </header>

  <div class="content-container-nav">
    <h4><span>Renda Fixa?</span></h4>
    <p>
      Rentabilidade garantida? Risco zero de perda? Você talvez esteja se perguntando o que é renda fixa, afinal. A
      resposta está em um conceito fácil de entender: nos investimentos em renda fixa, o cálculo da remuneração é
      previamente definido e conhecido desde o momento da aplicação.
      Em linhas gerais, quem compra um título de renda fixa “empresta” dinheiro para alguém. Em troca, espera receber o
      valor aplicado de volta no futuro acrescido de juros, que são a remuneração pelo tempo em que o recurso ficou
      emprestado. As condições dessa transação – como prazos, taxas, índices de referência e detalhes quanto à
      negociação dos papéis – são acertadas desde o início.
      Os emissores de títulos de renda fixa – em outras palavras, quem toma o dinheiro emprestado – podem ser bancos,
      empresas e o próprio governo. O funcionamento geral dos papéis é parecido, não importa a origem. O que é
      importante pontuar é que renda fixa não é sinônimo de retorno garantido. Esses investimentos também estão sujeitos
      a riscos, tanto de crédito quanto de mercado. Em algumas situações, o valor de um papel pode variar tanto quanto
      uma ação.
    </p>
  </div>

  <footer>
    <img src="images/logo-icon.svg" alt="">
    <span>copyright copy&</span>
  </footer>
</body>

</html>