<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/nav-content-style.css">
</head>

<body>
  <header>
    <div class="main-container">
      <div class="logo-header">
        <a href="/">
          <img src="images/logo-icon.svg" alt="">
          <span>MoneyScale</span>
        </a>
      </div>
    </div>

    <nav class="container-botoes">
      <ul class="navbar">
        <li><a href="/renda-fixa">RENDA FIXA</a></li>
        <li><a href="/taxa-selic">TAXA SELIC</a></li>
        <li><a href="/tesouro-direto">TESOURO DIRETO</a></li>
        <li><a href="/lci-lca">LCI e LCA</a></li>
        <li><a href="/cdi">CDI</a></li>
        <li><a href="/cdb">CDB</a></li>
      </ul>
    </nav>
  </header>

  <div class="content-container-nav">
    <h4><span>Taxa Selic?</span></h4>
    <p>
      A taxa Selic representa os juros básicos da economia brasileira. Os movimentos da Selic influenciam todas as taxas
      de juros praticadas no país – sejam as que um banco cobra ao conceder um empréstimo, sejam as que um investidor
      recebe ao realizar uma aplicação financeira.
      A Selic tem esse nome por conta do Sistema Especial de Liquidação e de Custódia, um sistema administrado pelo
      Banco Central em que são negociados títulos públicos federais. A taxa média registrada nas operações feitas
      diariamente nesse sistema equivale à taxa Selic.
      Mas de que tipo de operações estamos falando? São empréstimos de curtíssimo prazo – com vencimento em apenas um
      dia – realizados entre as instituições financeiras, que têm títulos públicos federais dados como garantia.
    </p>
  </div>

  <footer>
    <img src="images/logo-icon.svg" alt="">
    <span>copyright copy&</span>
  </footer>
</body>

</html>