form label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  position: relative;
  width: 245px;
  left: -102px;

  margin-top: 12px;
}

form label[for='tipo_investimento'] {
  margin-top: 39px;
}

.input-sequence {
  --tamanho-gap: 42px;
  --tamanho-input: 49px;

  height: calc(var(--tamanho-input) * 8 + calc(var(--tamanho-gap) * 7) + 49px);
}

.btn-simular {
  margin-top: 10px;
}

.div-logo {
  position: relative;
  width: 130px;
  height: 49px;
  left: 415px;
  top: 950px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  margin-bottom: 43px;
  margin-top: 33px;
}