@font-face {
  font-family: Alumni Sans;
  src: url('../fonts/AlumniSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

.main-container {
  background-color: #0EA45D;
  width: 960px;
  height: 100px;
  text-align: center;
}

.logo-branco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 456px;
  height: 61px;
  left: 252px;
  top: 20px;
}

.main-container img {
  position: absolute;
  width: 78.09px;
  height: 58.49px;
  left: 64.13px;
  top: -0.46px;
}

.main-container span {
  position: absolute;
  width: 220px;
  height: 68px;
  left: 171.87px;
  top: -3.5px;

  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 56.4736px;
  line-height: 68px;

  color: #FFFFFF;
}

.container-botoes {
  width: 960px;
  height: 30px;

  background: #E97B3E;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 23px;

  position: absolute;
  width: 636px;
  height: 22px;
  left: 162px;
  top: 104px;
}

.navbar li a {
  height: 22px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;

  list-style-type: none;
  text-decoration: none;
}

.simule-text {
  position: absolute;
  width: 723px;
  height: 19px;
  left: 118px;
  top: 216px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.simule-text strong {
  font-weight: 700;
}